@use 'variaveis';

.footer {
    padding: 26px 8px;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }

        &__logo {
            margin-top: 20px;
            width: 90px;
        }

        &__links {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 20px 0;

            &__item {
                display: inline-block;

                a {
                    text-decoration: none;
                    padding: 20px 16px;
                }
            }
        }

        h3 {
            padding-bottom: 5px;
        }

        &__social-media {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 20px 0;

            &__item {
                
                a {
                    padding: 10px 20px;
                }
            }
        }
}