@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    background-image: linear-gradient(to right, #ff4757 30%, transparent 58%),url(/src/images/background/kung_fu_panda_hero.jpeg);;
    background-repeat: no-repeat;
    text-align: center;

    @media (max-width: 768px) {
        padding-top: calc(50vw + 25px);
        background-image: url(/src/images/background/kung_fu_panda_hero.jpeg);
        background-size: contain;
        background-size: 100%;
    }

    &__content {

        max-width: 640px;

        &__branding {
            max-width: 320px;
            margin: 0 auto 38px;
            display: block;

            img {
                width: 360px;
                margin-right: 2vw;
            }
        }

        &__desc {
            display: flex;
            justify-content: center;

            &__item {
                margin: 8px;
                margin-top: 16px;
                text-transform: uppercase;
                font-weight: bold;

                img {
                    height: 18px;
                }
            }
        }

        &__button {
            display: flex;
            justify-content: center;

            .button--hero {
                margin-top: 1vw;
                width: 40%
            }
        }
    }
}